$primary-base: #2796FC;
$primary-tint: #9DC9F1;
$primary-shade: #0272D9;

$success-base: #14FF47;
$success-tint: #85FFA0;
$success-shade: #00E532;

$warning-base: #FFCA24;
$warning-tint: #FFDA66;
$warning-shade: #F0B600;

$danger-base: #FF0F00;
$danger-tint: #FF665C;
$danger-shade: #D10D00;

$dark-base: #1E232C;
$dark-tint:  #343B4C;
$dark-shade: #020203;

$medium-base: #92949C;
$medium-tint: #BFC0C5;
$medium-shade: #70727B;

$light-base: #EEF0F2;
$light-tint: #F8F8F8;
$light-shade: #E5E8EB;
