header {
    background: white;
    color: $dark-base;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;

    .logo-text {
        color: $dark-base;
        font-family: 'Grape Nuts', cursive;
        font-size: 40px;
        font-weight: 900;
        text-decoration: none;
        transition: all 300ms;

        &:visited {
            color:$dark-base;
        }

        &:hover,
        &:focus {
            color: $primary-shade;
        }

        &:active {
            color: $primary-tint;
        }
    }

    .icon-hamburger {
        cursor:pointer;
        font-size: 40px;
        display: block;

        @media ($screen-md) {
            display:none;
        }

        &:hover {
            color: $primary-shade;
        }

        &:active {
            color: $primary-tint;
        }

    }

    .nav-top {
        display:none;
        font-weight: 700;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
                @include text-lg;
                margin-left: $space-lg-2;

                a {
                    color: $dark-base;
                    text-decoration: none;
                    transition: all 300ms;

                    &:visited {
                        color:$dark-base;
                    }

                    &:hover {
                        color: $primary-shade;
                    }

                    &.button-primary {
                        background: $primary-base;
                        color: white;
                        font-weight: 700;
                        border: 4px solid $primary-base;
                        
                        &:hover,
                        &:focus {
                            background: $primary-shade;
                            border: 4px solid $primary-shade;
                        }

                        &:active {
                            background: $primary-tint;
                            border: 4px solid $primary-tint;
                        }
                    }
                }
            }
        }

        @media ($screen-md) {
            display:block;
        }
    }

    .nav-curtain {
        background: $light-tint;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        padding-top: $space-xl-4;
        text-align: center;

        .menu-close {
            font-size: 40px;
            cursor: pointer;
            position: absolute;
            top: 2rem;
            right: 2rem;

            &:hover {
                color: $primary-base;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                @include text-lg;
                font-weight: 700;
                margin-top: $space-lg-2;

                a {
                    color: $dark-base;
                    text-decoration: none;
                    transition: all 300ms;

                    &:visited {
                        color:$dark-base;
                    }

                    &:hover,
                    &:focus {
                        color: $primary-base;
                    }

                    &.button-primary {
                        background: $primary-base;
                        color: white;
                        font-weight: 700;
                        border: 4px solid $primary-base;
                        
                        &:hover,
                        &:focus {
                            background: $primary-shade;
                            border: 4px solid $primary-shade;
                        }

                        &:active {
                            background: $primary-tint;
                            border: 4px solid $primary-tint;
                        }
                    }
                }
            }
        }
    }
}