.skill-row {
    flex-direction: column;

    &.reverse-stack {
        flex-direction: column-reverse;

        @media ($screen-md){
            flex-direction: row;
        }
    }

    @media ($screen-md){
        flex-direction: row;
    }

    h3.skill-heading {
        @media ($screen-md) {
            text-align: left;
        }
    }

    .col-6 {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0 1rem;
        text-align: center;

        p {
            margin:  1rem 0;

            @media ($screen-md) {
                text-align: left;
            }
        }

        img {
            filter: drop-shadow($shadow-sm);
            max-width: 400px;
            margin: 2rem auto;

            @media ($screen-md) {
                max-width: 80%;
                margin: 0;
            }
        }
    }
}