:root {
  color: #1E232C;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

.row {
  align-items: center;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  flex-grow: 1;
  flex-shrink: 1;
}

.col-1 {
  flex-basis: 8.333333%;
}

.col-2 {
  flex-basis: 16.66666%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.333333%;
}

.col-5 {
  flex-basis: 41.666666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.333333%;
}

.col-8 {
  flex-basis: 66.666666%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.333333%;
}

.col-11 {
  flex-basis: 91.666666%;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.button:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none;
}

body.homepage header {
  background: #7B67F8;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 3rem;
}
body.homepage header .logo-text {
  font-family: "Rubik Puddles", cursive;
  font-size: 56px;
  font-weight: 900;
}
body.homepage header .top-nav {
  font-weight: 700;
}
body.homepage header .top-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body.homepage header .top-nav ul li {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-left: 2.5rem;
}
body.homepage header .top-nav ul li a {
  text-decoration: none;
}
body.homepage header .top-nav ul li a:visited {
  color: white;
}
body.homepage header .top-nav ul li a:hover {
  color: #14FF47;
}
body.homepage header .top-nav ul li button {
  color: #5A41F6;
  background: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
}
body.homepage h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
}
@media (min-width: 640px) {
  body.homepage h1 {
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  body.homepage h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  body.homepage h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  body.homepage h1 {
    font-size: 6rem;
    line-height: 1;
  }
}
body.homepage section:not(.hero) {
  padding: 1.5rem 0;
}
body.homepage section:not(.hero).ux, body.homepage section:not(.hero).fe {
  background: #F8F8F8;
}
@media (min-width: 640px) {
  body.homepage section:not(.hero) {
    padding: 2rem 0;
  }
}
@media (min-width: 768px) {
  body.homepage section:not(.hero) {
    padding: 2.5rem 0;
  }
}
@media (min-width: 1024px) {
  body.homepage section:not(.hero) {
    padding: 3rem 0;
  }
}
@media (min-width: 1280px) {
  body.homepage section:not(.hero) {
    padding: 3.5rem 0;
  }
}
body.homepage h2.section-heading {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
@media (min-width: 640px) {
  body.homepage h2.section-heading {
    font-size: 2.5rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  body.homepage h2.section-heading {
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  body.homepage h2.section-heading {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  body.homepage h2.section-heading {
    font-size: 4.5rem;
    line-height: 1;
  }
}
body.homepage p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  body.homepage p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
body.homepage .hero {
  text-align: center;
}
body.homepage .hero .hero-image {
  margin-top: 1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  animation: 3s bobble infinite linear;
}
@keyframes bobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body.homepage .bio {
  text-align: center;
}
body.homepage .bio .bio-radios {
  justify-content: space-around;
  margin: 1.5rem auto;
  max-width: 640px;
}
body.homepage .bio .bio-radios .radio-group :hover {
  color: #7B67F8;
  cursor: pointer;
}
body.homepage .bio .bio-radios .radio-group input {
  left: -200vw;
  position: absolute;
}
body.homepage .bio .bio-radios .radio-group input:checked ~ label {
  color: #7B67F8;
}
body.homepage .bio .bio-radios .radio-group label {
  font-size: 2.5rem;
}
body.homepage .bio .bios {
  max-width: 640px;
  margin: 0 auto;
}
body.homepage .skill-row {
  text-align: center;
  align-items: center;
  flex-direction: column;
}
body.homepage .skill-row.reverse-stack {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  body.homepage .skill-row.reverse-stack {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  body.homepage .skill-row {
    flex-direction: row;
    text-align: left;
  }
}
body.homepage .skill-row .col-6 {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 1rem;
}
body.homepage .skill-row .col-6 p {
  margin: 1rem 0;
}
body.homepage .skill-row .col-6 img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  max-width: 300px;
  margin: 2rem auto;
}
@media (min-width: 768px) {
  body.homepage .skill-row .col-6 img {
    max-width: 80%;
    margin: 0;
  }
}
body.homepage .skill-row .col-6 ul.tools-list {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  body.homepage .skill-row .col-6 ul.tools-list {
    justify-content: flex-start;
  }
}
body.homepage .skill-row .col-6 li {
  margin-right: 1rem;
}
body.homepage .skill-row .col-6 li .tech-logo svg {
  height: 24px;
}
body.homepage .projects .section-heading {
  margin-bottom: 1.5rem;
}
body.homepage .projects .project-grid {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 640px) {
  body.homepage .projects .project-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  body.homepage .projects .project-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
body.homepage .projects .project-grid .project-grid-item {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 66%;
  background-position: center;
  border: 8px solid white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #1E232C;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 14rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
}
body.homepage .projects .project-grid .project-grid-item:hover {
  animation: 0.3s logoGrow forwards;
}
@keyframes logoGrow {
  100% {
    background-size: 70%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
    border: 8px solid #14FF47;
  }
}
body.homepage .projects .project-grid .project-grid-item p {
  font-weight: 700;
  margin: 0;
}
body.homepage .projects .project-grid .project-grid-item p.tech {
  align-self: flex-end;
}
body.homepage .projects .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
body.homepage .projects .overlay:target {
  visibility: visible;
  opacity: 1;
}
body.homepage .projects .overlay .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 4;
}
body.homepage .projects .overlay .popup h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
body.homepage .projects .overlay .popup .popup-content {
  font-size: 1rem;
  line-height: 1.5rem;
}
body.homepage .projects .overlay .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
body.homepage .projects .overlay .popup .close:hover {
  color: #14FF47;
}
body.homepage .projects .overlay .popup .popup-content {
  max-height: 30%;
  overflow: auto;
}
body.homepage .resume {
  text-align: center;
}
body.homepage .resume .dotted-line {
  margin-top: 2.5rem;
  height: 1900px;
  border-left: 8px dotted #9DC9F1;
  position: absolute;
  z-index: 1;
  left: 50%;
}
body.homepage .resume .resume-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.homepage .resume .resume-item {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  width: 320px;
  padding: 1rem 2rem 2rem 2rem;
  text-align: left;
  margin-top: 2.5rem;
  z-index: 2;
}
body.homepage .resume .resume-item p.chip-resume-type {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: right;
  margin-top: 0;
}
body.homepage .resume .resume-item h3.resume-heading {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
body.homepage .resume .resume-item h4.resume-job-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
body.homepage .resume .resume-item p.resume-date {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0;
  opacity: 66%;
}
body.homepage .resume .resume-item.work {
  border-top: 1rem solid #7B67F8;
}
body.homepage .resume .resume-item.work .chip-resume-type {
  color: #7B67F8;
}
body.homepage .resume .resume-item.education {
  border-top: 1rem solid #00E532;
}
body.homepage .resume .resume-item.education .chip-resume-type {
  color: #00E532;
}
body.homepage .resume .resume-item li {
  margin: 1rem 0;
}
body.homepage .social {
  text-align: center;
}
body.homepage .social .section-heading {
  margin-bottom: 1.5rem;
}
body.homepage .social .social-links {
  justify-content: space-around;
  margin: 0 auto;
  max-width: 640px;
}
body.homepage .social .social-links a {
  text-decoration: none;
  color: #7B67F8;
}
body.homepage .social .social-links a:hover {
  color: #5A41F6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}
body.homepage .social .social-links .github svg {
  fill: #333333;
}
body.homepage .social .social-links .dribbble svg {
  fill: #ea4c89;
}
body.homepage .social .social-links .linkedin svg {
  fill: #0077b5;
}

/*# sourceMappingURL=style.css.map */
