@import "base/base";

body.homepage {

    h1 {

        font-weight: 700;
    
        @include text-5xl;
        
        @media ($screen-sm) {
            @include text-6xl;
        }
    
        @media ($screen-md) {
            @include text-7xl;
        }
    
        @media ($screen-lg) {
            @include text-8xl;
        }
    
        @media ($screen-xl) {
            @include text-9xl;
        }
    }
    
    section {
        padding: $space-md-3 0;
    
        @media ($screen-sm) {
            padding: $space-lg-1 0;
        }
    
        @media ($screen-md) {
            padding: $space-lg-2 0;
        }
    
        @media ($screen-lg) {
            padding: $space-lg-3 0;
        }
    
        @media ($screen-xl) {
            padding: $space-xl-1 0;
        }
    }

    h2.section-heading {

        font-weight: 700;
        
        @include text-4xl;
    
        @media ($screen-sm){
            @include text-5xl;
        }
    
        @media ($screen-md){
            @include text-6xl;
        }
    
        @media ($screen-lg){
            @include text-7xl;
        }
    
        @media ($screen-xl){
            @include text-8xl;
        }
    }

    p {
        @include text-base;
        margin-top: $space-md-1;

        @media ($screen-md) {
            @include text-lg;
        }
    }

    .hero {
        text-align: center;

        background-image: 
            url('/Users/joshmurtha/Portfolio/assets/wave-purple.svg'),
            url('/Users/joshmurtha/Portfolio/assets/wave-green.svg'),
            url('/Users/joshmurtha/Portfolio/assets/wave-blue.svg');
            background-repeat: repeat-x;
            background-position: 
                0 100%,
                0 100%,
                0 100%;
            background-size: 
                7000px,
                5000px,
                3000px;
            animation: 50s para infinite linear;

            @keyframes para {
                100% {
                    background-position: 
                        -1000px 100%,
                        -200px 100%,
                        300px 100%,
                }
            }

        .tagline {
            @include text-xl;

            @media ($screen-md) {
                @include text-2xl;
            }
        }

        .hero-image {
            margin-top: $space-md-2;
        }
    }

    .bio {
        margin: $space-lg-3 auto;
        text-align: center;

        .section-heading {
            margin-bottom: $space-md-3;

            i {
                color: $primary-base;
                font-style: italic;
            }
        }

        .bio-radios {
            justify-content: space-around;
            margin: $space-md-3 auto;
            max-width: 640px;

            .radio-group {
                :hover {
                    color: $primary-base;
                    cursor: pointer;
                }

                input {
                    left: -200vw;
                    position: absolute;

                    &:checked ~ label {
                        color: $primary-base;
                    }
                }

                label {
                    font-size: 2.5rem;
                }
            }
        }

        .bios {
            max-width: 640px;
            margin: 0 auto;
        }
    }

    .skill-row {
        text-align: center;
        align-items: center;
        flex-direction: column;

        &.reverse-stack {
            flex-direction: column-reverse;

            @media ($screen-md){
                flex-direction: row;
            }
        }

        @media ($screen-md){
            flex-direction: row;
            text-align: left;
        }

        .col-6 {
            flex-grow: 1;
            flex-shrink: 1;
            padding: 0 1rem;

            img {
                filter: drop-shadow($shadow-sm);
                max-width: 343px;
                margin: 2rem auto;

                @media ($screen-md) {
                    max-width: 80%;
                    margin: 0;
                }
            }
            ul.tools-list {
                margin-top: $space-md-1;
                display: flex;
                justify-content: space-around;

                @media ($screen-md) {
                    justify-content: flex-start;
                }
            }

            li {

                margin-right: 1rem;
                .tech-logo svg {
                    height: 24px;
                }
            }
        }
    }

    .projects {
        background: $light-tint;

        .section-heading {
            margin-bottom: $space-md-3;
        }

        .project-grid {
            display: grid;
            gap: 1rem ;
            margin: 0 auto;
            grid-template-columns: repeat(1, minmax(0, 1fr));

            @media ($screen-sm) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media ($screen-lg) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            .project-grid-item {
                background-repeat: no-repeat;
                background-size: 66%;
                background-position: center;
                border-radius: .24rem;
                box-shadow: $shadow-sm;
                cursor: pointer;
                height: 14rem;
                display: flex;
                flex-direction: column;
                padding: 1rem;

                img {
                    max-width: 200px;
                }
            }
        }
    }

    .resume {
        text-align: center;

        .dotted-line {
            margin-top: $space-lg-2;
            height: 1900px;
            border-left: 8px dotted $tertiary-tint;
            position: absolute;
            z-index: 1;
            left: 50%;
        }

        .resume-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .resume-item {
            background-color: white;
            border-radius: .5rem;
            box-shadow: $shadow-sm;
            width: 320px;
            padding: 1rem 2rem 2rem 2rem;
            text-align: left;
            margin-top: $space-lg-2;
            z-index: 2;

            p.chip-resume-type {
                @include text-sm;
                font-weight: 700;;
                text-align: right;
                margin-top: 0;
            }

            h3.resume-heading {
                @include text-lg;
                font-weight: 700;
            }

            h4.resume-job-title {
                @include text-lg;
            }

            p.resume-date {
                @include text-sm;
                margin-top: 0;
                opacity: 66%;
            }

            &.work {
                border-top: 1rem solid $primary-base;

                .chip-resume-type {
                    color: $primary-base;
                }
            }

            &.education {
                border-top: 1rem solid $secondary-shade;

                .chip-resume-type {
                    color: $secondary-shade;
                }
            }

            li {
                margin: 1rem 0;
            }
        }
    }

    .social {
        text-align: center;

        .section-heading {
            margin-bottom: $space-md-3;
        }

        .social-links {
            justify-content: space-around;
            margin: 0 auto;
            max-width: 640px;
    
            a:hover {
                filter: drop-shadow($shadow-sm);
            }
    
            .github svg {
                fill: #333333;
            }
    
            .dribbble svg {
                fill: #ea4c89;
            }
    
            .linkedin svg {
                fill: #0077b5;
            }
        }
    }
}

