:root {
  color: #1E232C;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

.row {
  align-items: center;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  flex-grow: 1;
  flex-shrink: 1;
}

.col-1 {
  flex-basis: 8.333333%;
}

.col-2 {
  flex-basis: 16.66666%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.333333%;
}

.col-5 {
  flex-basis: 41.666666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.333333%;
}

.col-8 {
  flex-basis: 66.666666%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.333333%;
}

.col-11 {
  flex-basis: 91.666666%;
}

.hidden {
  display: none;
}

body.homepage h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
}
@media (min-width: 640px) {
  body.homepage h1 {
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  body.homepage h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  body.homepage h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  body.homepage h1 {
    font-size: 6rem;
    line-height: 1;
  }
}
body.homepage section {
  padding: 1.5rem 0;
}
@media (min-width: 640px) {
  body.homepage section {
    padding: 2rem 0;
  }
}
@media (min-width: 768px) {
  body.homepage section {
    padding: 2.5rem 0;
  }
}
@media (min-width: 1024px) {
  body.homepage section {
    padding: 3rem 0;
  }
}
@media (min-width: 1280px) {
  body.homepage section {
    padding: 3.5rem 0;
  }
}
body.homepage h2.section-heading {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
@media (min-width: 640px) {
  body.homepage h2.section-heading {
    font-size: 2.5rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  body.homepage h2.section-heading {
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  body.homepage h2.section-heading {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  body.homepage h2.section-heading {
    font-size: 4.5rem;
    line-height: 1;
  }
}
body.homepage p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  body.homepage p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
body.homepage .hero {
  text-align: center;
  background-image: url("/Users/joshmurtha/Portfolio/assets/wave-purple.svg"), url("/Users/joshmurtha/Portfolio/assets/wave-green.svg"), url("/Users/joshmurtha/Portfolio/assets/wave-blue.svg");
  background-repeat: repeat-x;
  background-position: 0 100%, 0 100%, 0 100%;
  background-size: 7000px, 5000px, 3000px;
  animation: 50s para infinite linear;
}
@keyframes para {
  100% {
    background-position: -1000px 100%, -200px 100%, 300px 100%;
  }
}
body.homepage .hero .tagline {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  body.homepage .hero .tagline {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
body.homepage .hero .hero-image {
  margin-top: 1rem;
}
body.homepage .bio {
  margin: 3rem auto;
  text-align: center;
}
body.homepage .bio .section-heading {
  margin-bottom: 1.5rem;
}
body.homepage .bio .section-heading i {
  color: #7B67F8;
  font-style: italic;
}
body.homepage .bio .bio-radios {
  justify-content: space-around;
  margin: 1.5rem auto;
  max-width: 640px;
}
body.homepage .bio .bio-radios .radio-group :hover {
  color: #7B67F8;
  cursor: pointer;
}
body.homepage .bio .bio-radios .radio-group input {
  left: -200vw;
  position: absolute;
}
body.homepage .bio .bio-radios .radio-group input:checked ~ label {
  color: #7B67F8;
}
body.homepage .bio .bio-radios .radio-group label {
  font-size: 2.5rem;
}
body.homepage .bio .bios {
  max-width: 640px;
  margin: 0 auto;
}
body.homepage .skill-row {
  text-align: center;
  align-items: center;
  flex-direction: column;
}
body.homepage .skill-row.reverse-stack {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  body.homepage .skill-row.reverse-stack {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  body.homepage .skill-row {
    flex-direction: row;
    text-align: left;
  }
}
body.homepage .skill-row .col-6 {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 1rem;
}
body.homepage .skill-row .col-6 img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  max-width: 343px;
  margin: 2rem auto;
}
@media (min-width: 768px) {
  body.homepage .skill-row .col-6 img {
    max-width: 100%;
    margin: 0;
  }
}
body.homepage .skill-row .col-6 ul.tools-list {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  body.homepage .skill-row .col-6 ul.tools-list {
    justify-content: flex-start;
  }
}
body.homepage .skill-row .col-6 li {
  margin-right: 1rem;
}
body.homepage .skill-row .col-6 li .tech-logo svg {
  height: 24px;
}
body.homepage .projects .section-heading {
  margin-bottom: 1.5rem;
}
body.homepage .projects .project-grid {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 640px) {
  body.homepage .projects .project-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  body.homepage .projects .project-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
body.homepage .projects .project-grid .project-grid-item {
  background: lightblue;
  border-radius: 0.24rem;
  height: 14rem;
}
body.homepage .resume {
  text-align: center;
}
body.homepage .resume .resume-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.homepage .resume .resume-item {
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  max-width: 343px;
  padding: 1rem;
  text-align: left;
}
body.homepage .resume .resume-item .chip-resume-type {
  text-align: right;
  border-radius: 0.24rem;
  padding: 0.25rem;
  padding: 0.5rem;
  width: max-content;
}
body.homepage .resume .resume-item .chip-resume-type.work {
  background-color: #7B67F8;
}
body.homepage .social {
  text-align: center;
}
body.homepage .social .section-heading {
  margin-bottom: 1.5rem;
}
body.homepage .social .social-links {
  justify-content: space-around;
  margin: 0 auto;
  max-width: 640px;
}
body.homepage .social .social-links a:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
body.homepage .social .social-links .github svg {
  fill: #333333;
}
body.homepage .social .social-links .dribbble svg {
  fill: #ea4c89;
}
body.homepage .social .social-links .linkedin svg {
  fill: #0077b5;
}

/*# sourceMappingURL=style.css.map */
