:root {
  color: #1E232C;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

.row {
  align-items: center;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  flex-grow: 1;
  flex-shrink: 1;
}

.col-1 {
  flex-basis: 8.333333%;
}

.col-2 {
  flex-basis: 16.66666%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.333333%;
}

.col-5 {
  flex-basis: 41.666666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.333333%;
}

.col-8 {
  flex-basis: 66.666666%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.333333%;
}

.col-11 {
  flex-basis: 91.666666%;
}

body section:not(.hero) {
  padding: 1.5rem 0;
}
body section:not(.hero).ux, body section:not(.hero).fe {
  background: #F8F8F8;
}
@media (min-width: 640px) {
  body section:not(.hero) {
    padding: 2rem 0;
  }
}
@media (min-width: 768px) {
  body section:not(.hero) {
    padding: 2.5rem 0;
  }
}
@media (min-width: 1024px) {
  body section:not(.hero) {
    padding: 3rem 0;
  }
}
@media (min-width: 1280px) {
  body section:not(.hero) {
    padding: 3.5rem 0;
  }
}
body h2.section-heading {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
@media (min-width: 640px) {
  body h2.section-heading {
    font-size: 2.5rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  body h2.section-heading {
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  body h2.section-heading {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  body h2.section-heading {
    font-size: 4.5rem;
    line-height: 1;
  }
}
body p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  body p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

.row {
  align-items: center;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  flex-grow: 1;
  flex-shrink: 1;
}

.col-1 {
  flex-basis: 8.333333%;
}

.col-2 {
  flex-basis: 16.66666%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.333333%;
}

.col-5 {
  flex-basis: 41.666666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.333333%;
}

.col-8 {
  flex-basis: 66.666666%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.333333%;
}

.col-11 {
  flex-basis: 91.666666%;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.button:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.025);
}
.button:active {
  box-shadow: none;
  transform: none;
}
.button-primary {
  background: #A1BAB2;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
}
.button-primary:hover {
  background: #CC9D51;
}
.button-primary-outlined {
  background: white;
  border: 4px solid #A1BAB2;
  color: #A1BAB2;
  font-weight: 700;
  padding: 0.5rem 1rem;
}
.button-primary-outlined:hover {
  border: 4px solid #E0C395;
  color: #E0C395;
}
.button-primary-outlined:active {
  border: 4px solid #618479;
  color: #618479;
}

header {
  background: #A1BAB2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header .logo-text {
  color: white;
  font-family: "Rubik Puddles", cursive;
  font-size: 56px;
  font-weight: 900;
  text-decoration: none;
  transition: all 300ms;
}
header .logo-text:visited {
  color: white;
}
header .logo-text:hover {
  color: #E0C395;
}
header .icon-hamburger {
  cursor: pointer;
  font-size: 40px;
  display: block;
}
@media (min-width: 768px) {
  header .icon-hamburger {
    display: none;
  }
}
header .icon-hamburger:hover {
  color: #E0C395;
}
header .nav-top {
  display: none;
  font-weight: 700;
}
header .nav-top ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav-top ul li {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-left: 2.5rem;
}
header .nav-top ul li a {
  color: white;
  text-decoration: none;
  transition: all 300ms;
}
header .nav-top ul li a:visited {
  color: white;
}
header .nav-top ul li a:hover {
  color: #E0C395;
}
header .nav-top ul li a.button-primary-outlined {
  color: #A1BAB2;
  border: 4px solid #A1BAB2;
}
header .nav-top ul li a.button-primary-outlined:hover {
  border: 4px solid #E0C395;
  color: #E0C395;
}
header .nav-top ul li a.button-primary-outlined:active {
  border: 4px solid #618479;
  color: #618479;
}
@media (min-width: 768px) {
  header .nav-top {
    display: block;
  }
}
header .nav-curtain {
  background: #A1BAB2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding-top: 6rem;
  text-align: center;
}
header .nav-curtain .menu-close {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
header .nav-curtain .menu-close:hover {
  color: #E0C395;
}
header .nav-curtain ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .nav-curtain ul li {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 2.5rem;
}
header .nav-curtain ul li a {
  color: white;
  text-decoration: none;
  transition: all 300ms;
}
header .nav-curtain ul li a:visited {
  color: white;
}
header .nav-curtain ul li a:hover {
  color: #E0C395;
}
header .nav-curtain ul li a.button-primary-outlined {
  color: #A1BAB2;
  border: 4px solid #A1BAB2;
}
header .nav-curtain ul li a.button-primary-outlined:hover {
  border: 4px solid #E0C395;
  color: #E0C395;
}
header .nav-curtain ul li a.button-primary-outlined:active {
  border: 4px solid #618479;
  color: #618479;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.overlay .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 4;
  width: 70%;
  max-width: 480px;
}
.overlay .popup h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.overlay .popup .popup-content {
  font-size: 1rem;
  line-height: 1.5rem;
}
.overlay .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #1E232C;
}
.overlay .popup .close:hover {
  color: #E0C395;
}
.overlay .popup .popup-content {
  max-height: 30%;
  overflow: auto;
}
.overlay .popup .popup-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
.overlay .popup .popup-actions .popup-link-button {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-left: 1rem;
  text-decoration: none;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  touch-action: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  background-image: url("assets/bg-hero.png"), linear-gradient(to top, black, rgba(0, 0, 0, 0.1));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .hero {
    height: 500px;
  }
}
@media (min-width: 1280px) {
  .hero {
    font-size: 8rem;
    line-height: 1;
  }
}
.hero h1 {
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
}
@media (min-width: 640px) {
  .hero h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  .hero h1 {
    font-size: 6rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  .hero h1 {
    font-size: 8rem;
    line-height: 1;
  }
}

.bio {
  text-align: center;
}
.bio .bio-radios {
  justify-content: space-around;
  margin: 1.5rem auto;
  max-width: 640px;
}
.bio .bio-radios .radio-group :hover {
  color: #E0C395;
  cursor: pointer;
}
.bio .bio-radios .radio-group input {
  left: -200vw;
  position: absolute;
}
.bio .bio-radios .radio-group input:checked ~ label {
  color: #A1BAB2;
}
.bio .bio-radios .radio-group label {
  font-size: 2.5rem;
}
.bio .bios {
  max-width: 640px;
  margin: 0 auto;
}

.skill-row {
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.skill-row.reverse-stack {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .skill-row.reverse-stack {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .skill-row {
    flex-direction: row;
    text-align: left;
  }
}
.skill-row .col-6 {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 1rem;
}
.skill-row .col-6 p {
  margin: 1rem 0;
}
.skill-row .col-6 img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  max-width: 300px;
  margin: 2rem auto;
}
@media (min-width: 768px) {
  .skill-row .col-6 img {
    max-width: 80%;
    margin: 0;
  }
}
.skill-row .col-6 ul.tools-list {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .skill-row .col-6 ul.tools-list {
    justify-content: flex-start;
  }
}
.skill-row .col-6 li {
  margin-right: 1rem;
}
.skill-row .col-6 li .tech-logo svg {
  height: 24px;
}

.projects .section-heading {
  margin-bottom: 1.5rem;
}
.projects .project-grid {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 640px) {
  .projects .project-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .projects .project-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.projects .project-grid .project-grid-item {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 66%;
  background-position: center;
  border: 8px solid white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #1E232C;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 14rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
}
.projects .project-grid .project-grid-item:hover {
  animation: 300ms logoGrow forwards;
}
@keyframes logoGrow {
  100% {
    background-size: 70%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
    border: 8px solid #E0C395;
  }
}
.projects .project-grid .project-grid-item p {
  font-weight: 700;
  margin: 0;
}
.projects .project-grid .project-grid-item p.tech {
  align-self: flex-end;
}

.resume {
  text-align: center;
}
.resume button {
  margin-top: 1rem;
}
.resume .dotted-line {
  margin-top: 2.5rem;
  height: 2400px;
  border-left: 8px dotted #E5E8EB;
  position: absolute;
  z-index: 1;
  left: 50%;
}
.resume .resume-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume .resume-item {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  width: 320px;
  padding: 1rem;
  text-align: left;
  margin-top: 2.5rem;
  z-index: 2;
}
.resume .resume-item p.chip-resume-type {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: right;
  margin-top: 0;
}
.resume .resume-item h3.resume-heading {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.resume .resume-item h4.resume-job-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.resume .resume-item p.resume-date {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0;
  opacity: 66%;
}
.resume .resume-item ul.duties li {
  font-size: 1rem;
  line-height: 1.5rem;
}
.resume .resume-item.work {
  border-top: 1rem solid #A1BAB2;
}
.resume .resume-item.work .chip-resume-type {
  color: #A1BAB2;
}
.resume .resume-item.education {
  border-top: 1rem solid #CC9D51;
}
.resume .resume-item.education .chip-resume-type {
  color: #CC9D51;
}
.resume .resume-item li {
  margin: 1rem 0;
}

.social {
  text-align: center;
}
.social .section-heading {
  margin-bottom: 1.5rem;
}
.social .social-links {
  justify-content: space-around;
  margin: 0 auto;
  max-width: 640px;
}
.social .social-links a {
  text-decoration: none;
  color: #B18181;
}
.social .social-links a:visited {
  color: #A1BAB2;
}
.social .social-links a:hover {
  color: #815050;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}
.social .social-links .github svg {
  fill: #333333;
}
.social .social-links .dribbble svg {
  fill: #ea4c89;
}
.social .social-links .linkedin svg {
  fill: #0077b5;
}

body.contact h1 {
  font-weight: 700;
  margin: 3rem 0 1rem 0;
  font-size: 2.5rem;
  line-height: 1;
}
@media (min-width: 640px) {
  body.contact h1 {
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  body.contact h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  body.contact h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  body.contact h1 {
    font-size: 6rem;
    line-height: 1;
  }
}
body.contact p {
  max-width: 640px;
}
body.contact .my-email {
  margin-top: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 640px) {
  body.contact .my-email {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 768px) {
  body.contact .my-email {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 1024px) {
  body.contact .my-email {
    font-size: 2.5rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  body.contact .my-email {
    font-size: 3rem;
    line-height: 1;
  }
}
body.contact .my-email:after {
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #F8F8F8;
  border-radius: 1rem;
  color: #1E232C;
  content: "Click to copy to clipboard.";
  display: none;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  width: max-content;
  z-index: 999;
}
body.contact .my-email:hover {
  color: #A1BAB2;
}
body.contact .my-email:hover::after {
  display: block;
}
body.contact .my-email:active {
  color: #618479;
}
body.contact .my-email:active::after {
  content: "Copied!";
  color: #CC9D51;
}

/*# sourceMappingURL=style.css.map */
