.hero {
    text-align: center;

    .hero-image {
        font-size: 100px;
        margin-top: $space-lg-3;
        animation: 3s bobble infinite linear;

        @keyframes bobble {
            0% {
                transform: rotate(0deg)
            }
            25% {
                transform: rotate(7deg)
            }
            50% {
                transform: rotate(0deg)
            }
            75%{
                transform: rotate(-7deg)
            }
            100% {
                transform: rotate(0deg);
            }
        }
    }
}