$primary-base: #7B67F8;
$primary-tint: #A294FA;
$primary-shade: #5A41F6;

$secondary-base: #14FF47;
$secondary-tint: #85FFA0;
$secondary-shade: #00E532;

$tertiary-base: #54ACFC;
$tertiary-tint: #9DC9F1;
$tertiary-shade: #138CFB;

$warning-base: #FFCA24;
$warning-tint: #FFDA66;
$warning-shade: #F0B600;

$danger-base: #FF0F00;
$danger-tint: #FF665C;
$danger-shade: #D10D00;

$dark-base: #1E232C;
$dark-tint:  #343B4C;
$dark-shade: #020203;

$medium-base: #92949C;
$medium-tint: #BFC0C5;
$medium-shade: #70727B;

$light-base: #EEF0F2;
$light-tint: #F8F8F8;
$light-shade: #E5E8EB;
