$primary-base: #A1BAB2;
$primary-tint: #E2E9E7;
$primary-shade: #618479;

$secondary-base: #E0C395;
$secondary-tint: #F8F2E7;
$secondary-shade: #CC9D51;

$tertiary-base: #B18181;
$tertiary-tint: #E2D0D0;
$tertiary-shade: #815050;

$warning-base: #FFCA24;
$warning-tint: #FFDA66;
$warning-shade: #F0B600;

$danger-base: #FF0F00;
$danger-tint: #FF665C;
$danger-shade: #D10D00;

$dark-base: #1E232C;
$dark-tint:  #343B4C;
$dark-shade: #020203;

$medium-base: #92949C;
$medium-tint: #BFC0C5;
$medium-shade: #70727B;

$light-base: #EEF0F2;
$light-tint: #F8F8F8;
$light-shade: #E5E8EB;
