header {
    background: $primary-base;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-bottom: 3rem;

    .logo-text {
        font-family: 'Rubik Puddles', cursive;
        font-size: 56px;
        font-weight: 900;
        text-decoration: none;
        transition: all 300ms;

        &:visited {
            color:white;
        }

        &:hover {
            color: $secondary-base;
        }
    }

    .icon-hamburger {
        cursor:pointer;
        font-size: 40px;
        display: block;

        @media ($screen-md) {
            display:none;
        }

        &:hover {
            color: $secondary-base;
        }

    }

    .nav-top {
        display:none;
        font-weight: 700;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
                @include text-lg;
                margin-left: $space-lg-2;

                a {
                    text-decoration: none;
                    transition: all 300ms;

                    &:visited {
                        color:white;
                    }

                    &:hover {
                        color: $secondary-base;
                    }
                }

                button {
                    border: none;
                }
            }
        }

        @media ($screen-md) {
            display:block;
        }
    }

    .nav-curtain {
        background: $primary-base;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        padding-top: $space-xl-4;
        text-align: center;

        .menu-close {
            font-size: 40px;
            cursor: pointer;
            position: absolute;
            top: 2rem;
            right: 2rem;

            &:hover {
                color: $secondary-base;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                @include text-lg;
                font-weight: 700;
                margin-top: $space-lg-2;

                a {
                    text-decoration: none;
                    transition: all 300ms;

                    &:visited {
                        color:white;
                    }

                    &:hover {
                        color: $secondary-base;
                    }
                }

                button {
                    border: none;
                }
            }
        }
    }
}