@import "../base/base.scss";

body.contact {
    h1 {
    
        font-weight: 700;
        margin: 3rem 0 1rem 0;
    
        @include text-5xl;
        
        @media ($screen-sm) {
            @include text-6xl;
        }
    
        @media ($screen-md) {
            @include text-7xl;
        }
    
        @media ($screen-lg) {
            @include text-8xl;
        }
    
        @media ($screen-xl) {
            @include text-9xl;
        }
    }
    
    p {
        max-width: 640px;
    }
    
    .my-email {
    
        margin-top: $space-md-3;
        font-family: 'Poppins', Sans-serif;
        font-weight: 700;
    
        @include text-2xl;
        
        @media ($screen-sm) {
            @include text-3xl;
        }
    
        @media ($screen-md) {
            @include text-4xl;
        }
    
        @media ($screen-lg) {
            @include text-5xl;
        }
    
        @media ($screen-xl) {
            @include text-6xl;
        }
    }

    .copy-button {
        cursor: pointer;
        font-size: 40px;
        padding: .5rem;
        margin-top: $space-md-1;
        width: max-content;

        &:hover,
        &:focus {
            color: $primary-base;
            filter: drop-shadow($shadow-sm);
        }

        &:active {
            filter: none;
            color: $primary-tint;
        }
    }
}
