.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
        z-index: 4;
        width: 70%;
        max-width: 480px;

        h3 {
            @include text-xl;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .popup-content {
            @include text-base;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: $dark-base;

            &:hover {
                color: $secondary-base;
            }
        }

        .popup-content {
            max-height: 30%;
            overflow: auto;
        }

        .popup-actions {
            margin-top: $space-md-2;
            display: flex;
            justify-content: flex-end;

            .popup-link-button {
                @include text-lg;
                font-weight: 700;
                margin-left: $space-md-2;
                text-decoration: none;
            }
        }
    }
}