.case-studies {
    
    .section-heading {
        margin-bottom: $space-md-3;
    }

    .case-studies-grid-item {
        box-shadow: none!important;

        &:hover,
        &:focus {
            h3 {
                color: $primary-base;
            }
        }
    }
}