.button {
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    @include text-lg;

    &:hover {
        box-shadow: $shadow-lg;
        transform: scale(1.025);
    }

    &:active {
        box-shadow: none;
        transform: none;
    }

    &-primary {
        background: $primary-base;
        color: white;
        font-weight: 700;
        border: 4px solid $primary-base;
        
        &:hover,
        &:focus {
            background: $primary-shade;
            border: 4px solid $primary-shade;
        }

        &:active {
            background: $primary-tint;
            border: 4px solid $primary-tint;
        }
    }

    &-outlined {
        background: none;
        color: $primary-base;
        border: 4px solid $primary-base;

        &:hover,
        &:focus {
            color: $primary-shade;
            border: 4px solid $primary-shade;
        }

        &:active {
            color: $primary-tint;
            border: 4px solid $primary-tint;
        }
    }
}