.collection-grid {
    display: grid;
    gap: 1rem ;
    margin: 0 auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media ($screen-sm) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media ($screen-lg) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .collection-grid-item {
        align-items:center;
        background-color: white;
        background-repeat: no-repeat;
        background-size: 66%;
        background-position: center;
        border: 8px solid white;
        border-radius: .5rem;
        box-shadow: $shadow-sm;
        color: $dark-base;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 14rem;
        padding: 1rem;
        text-decoration: none;

        &:hover,
        &:focus {
            animation: 300ms logoGrow forwards;
            @keyframes logoGrow {
                100% {
                    background-size: 70%;
                    box-shadow: $shadow-lg;
                    border:  8px solid $primary-tint;
                }
            }
        }

        h3 {
            @include text-xl;
            font-weight: 700;
            margin: 0;
        }
    }
}